{% block header %}
	{% set menus = 
[
  {name : 'Accueil', path : path('app_home')},
  {name : 'Mécanique', path : path('app_mecanique')}, 
  {name : 'Carrosserie', path : path('app_carrosserie')}, 
  {name : 'Occasions', path : path('app_occasions')}
]
%}

	<header>
		<img class="logo" src="{{ asset('assets/images/Header/Logo.png') }}" alt="Logo de la société">
		<nav>
			<div class="nav-links">
				{% for menu in menus %}
					<a class="link" href="{{ menu.path }}">{{ menu.name }}</a>
				{% endfor %}
			</div>
		</nav>
		<div class="button-container">
			<a href="{{ path('app_login') }}">
      <img class="button-connection" src="{{ asset('assets/images/Header/person-fill.svg') }}" alt="">
      </a>
			<div class="burger">
				<span class="ligne"></span>
        <span class="ligne"></span>
        <span class="ligne"></span>
			</div>
			<div class="container d-flex justify-content-end align-items-center d-none d-lg-block">
				<button class="btn button" onclick="window.location.href='{{ path('app_login') }}'">Connection</button>
			</div>
		</div>
	</header>
{% endblock %}
