{% extends "base.html.twig" %}

{% block title %}Modifier les horaires
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="d-flex flex-row justify-content-center h-75">
		<div class="container-new-horaire d-flex flex-column justify-content-center align-item-center w-25">
			<div class="card p-3">
				<h1>Modifier les horaires</h1>
				{{ form_start(form) }}
				{{ form_errors(form.jours) }}
				{{ form_row(form.jours) }}
				{{ form_row(form.heures) }}
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-success mt-3 w-25">Créer</button>
				</div>
			</div>
			{{ form_end(form) }}
		</main>
	{% endblock %}
