{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/form/style.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" defer></script>
{% endblock %}

{% block body %}
  <main>
    <form class="d-flex flex-column justify-content-center align-items-center w-50 m-4" method="POST">
      <img class="logo w-75" src="{{ asset('assets/images/Header/Logo2.png') }}" alt="Logo de la société">
      <div class="d-flex flex-column aligne-items-center justify-content-center p-3 fs-6 w-100">
        <h1 class="text-center my-5">Ajouter un Annonce</h1>
        {{ form_start(form) }}
        <div class="d-flex justify-content-evenly">
          {{ form_row(form.marque)}}
          {{ form_row(form.model)}}
        </div>
        <div class="d-flex justify-content-evenly">
          {{ form_row(form.kilometre)}}
          {{ form_row(form.porte)}}
        </div>
        <div class="d-flex justify-content-evenly">
          {{ form_row(form.puissance)}}
          {{ form_row(form.annee)}}
        </div>
        <div class="d-flex justify-content-evenly">
          {{ form_row(form.energie)}}
          {{ form_row(form.prix)}}
        </div>
        {{ form.imageFile }}
        <input type="hidden" name="token" value="{{ csrf_token('cars_card') }}">
        <div class="d-flex justify-content-evenly m-2">
          <input type="submit" value="Envoyer" class="btn btn-success m-1 button"></input>
          <button type="button" class="btn btn-danger m-1 button" onclick="window.location.href='{{ path('app_card_cars_index') }}'">Annuler</button>
        </div>
        {{ form_end(form) }}
      </div>
    </form>
  </main>
{% endblock %}
