{% extends "base.html.twig" %}

{% block title %}Occasions
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include "_part/nav.html.twig" %}

	<div class="d-flex flex-wrap align-item-center justify-content-center">

		<div class="card m-3" style="width: 23rem;">
			<img src="{{ asset('assets/images/Occasions/renault-clio.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body m-auto">
				<h5 class="card-title fs-1">{{ marque }}
					{{ model }}</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>Kilomètrage:</div>
					<div>{{ kilo }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>Portes:</div>
					<div>{{ porte }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>CV Fiscaux:</div>
					<div>{{ puissance }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>Premiére mise en cirdulation:</div>
					<div>{{ annee }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>Energie:</div>
					<div>{{ energie }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between fs-6">
					<div>Prix:</div>
					<div>{{ prix }}
						&euro;</div>
				</li>
			</ul>
			<div class="card-body m-auto">
				<div class="d-flex text-align-center justify-content-center mb-3">
					<h5 class="m-auto fs-4">Contact</h5>
				</div>
				<p class="fs-6 text-center">Par téléphone:
					<a href="tel:06.85.97.42.35" class="card-link">06.85.97.42.35</a><br>
					Ou via nôtre<a href="#" class="card-link">
						formulaire</a>
				</p>
				<div class="btn-group py-2" role="group" aria-label="Basic outlined example">
					<button type="button" class="btn btn-outline-danger">
						<div class="d-flex justify-content-between align-items-center fs-6 p-2">
							<a class="text-danger" href="{{ path('app_card_cars_index') }}">Retour a la liste</a>
						</div>
					</button>
					<button type="button" class="btn btn-outline-danger">
						<a href="{{ path('app_card_cars_edit', {'id': cardCar.id}) }}"></a>Modifier</button>
					<button type="button" class="btn btn-outline-danger">
						<a href="{{ path('app_card_cars_delete', {'id': cardCar.id}) }}"></a>Supprimer</button>
				</div>
			</div>
		</div>
	</div>
	{% include "_part/footer.html.twig" %}
{% endblock %}
